---
import Product from "../sections/product.astro";
import Navbar from "../sections/navbar";
import VideoSection from "../sections/video.astro";
import ScrollingBanner from "../sections/scrolling-banner.astro";
import Main from "../layouts/main.astro";
import Review1 from "../assets/reviews/1.webp";
import Review2 from "../assets/reviews/2.webp";
import Review3 from "../assets/reviews/3.webp";
import Review4 from "../assets/reviews/4.webp";
import Review5 from "../assets/reviews/5.webp";
import Review6 from "../assets/reviews/6.webp";
import Review7 from "../assets/reviews/7.webp";
import Review8 from "../assets/reviews/8.webp";
import Practice from "../assets/benefits/practice.webp";
import BenefitsCarousel from "../sections/benefits-carousel.astro";
import Coaching from "../assets/benefits/coaching.webp";
import Weather from "../assets/benefits/weather.webp";
import Build from "../assets/benefits/build.webp";
import Courses from "../assets/benefits/courses.webp";
import UspGrid from "../sections/usp-grid.astro";
import Comparison from "../sections/comparison.astro";
import ShedBefore from "../assets/shed-before.webp";
import ShedAfter from "../assets/shed-after.webp";
import SmallCarousel from "../sections/small-carousel.astro";
import IncludedBracket from "../assets/included/bracket.webp";
import IncludedCable from "../assets/included/hdmi-cable.webp";
import IncludedHittingMat from "../assets/included/hitting-mat.webp";
import IncludedLaunchMonitor from "../assets/included/launch-monitor.webp";
import IncludedMetalCase from "../assets/included/metal-case.webp";
import IncludedProjector from "../assets/included/projector.webp";
import IncludedEnclosure from "../assets/included/simulator-enclosure.webp";
import Cta from "../sections/cta.astro";
import Faqs from "../sections/faqs.astro";

const reviews = [
  {
    title: "Really Happy With The Set Up!",
    image: Review1,
    description:
      "Really happy with the set up. The price was sharp making it feasible as garage particle area. The sim is able to comfortability take all shots with the set up preventing and sideway or driver shots hitting the wall behind.  ",
  },
  {
    title: "Best Purchase I've Made!",
    image: Review7,
    description:
      "Fast shipping, easily assembled on my own. Best purchase I’ve made it’s so damn good ! Love it !",
  },
  {
    title: "Makes Practice So Much Easier!",
    image: Review2,
    description:
      "Love the Sky Trak Golf Simulator, makes practice so much easier with having a driving range in the garage away from all the elements and being able to have a quick hit.",
  },
  {
    title: "Super Stoked With The Setup!",
    image: Review3,
    description:
      "Been hitting balls none stop since I got it! Highly recommend 24/7 golf to anyone thinking about setting up a simulator these guys are great to deal with and you won’t be disappointed. ",
  },
  {
    title: "Excellent Service!",
    image: Review4,
    description:
      "Excellent service from 24/7 golf, top quality enclosure. TGC 2019 was so easy to install, is great to play. Highly recommended!",
  },
  {
    title: "Everyone Was Very Helpful!",
    image: Review5,
    description: "Everyone was very helpful, polite and easy to work with",
  },
  {
    title: "Such A Great Overall Package!",
    image: Review6,
    description:
      "This is a really good overall package for a home or business setup,  it will certainly make a difference to my group on rainy days that are just no fun playing in.  This indoor experience will be great",
  },
  {
    title: "System Is Great!",
    image: Review8,
    description:
      "System is great. Easy to open and the after sales support is also fantastic. ",
  },
];

const included = [
  {
    title: "Skytrak Golf Simulator Launch Monitor",
    image: IncludedLaunchMonitor,
    description:
      "SkyTrak is a personal launch monitor that delivers instant and real-time 3D shot analysis and ball-flight data. Plus, enhance your SkyTrak experience with a high-definition simulation package.",
  },
  {
    title: "Skytrak Metal Protective Case",
    image: IncludedMetalCase,
    description:
      "The SkyTrak Protective Metal Case is the perfect way to protect your SkyTrak if you are constantly on the move. The metal case is extremely durable and has a built in kickstand to help with the viewing angle.",
  },
  {
    title: "Skytrak Golf Simulator Enclosure",
    image: IncludedEnclosure,
    description:
      "The SkyTrak Golf Simulator Enclosure is the perfect solution for those wanting to take their SkyTrak to different locations. The enclosure is easy to assemble and is made from high quality materials.",
  },
  {
    title: "Skytrak Golf Simulator Projector",
    image: IncludedProjector,
    description:
      "The SkyTrak Golf Simulator Projector is the perfect addition to your SkyTrak setup. The projector is a short throw projector that is designed to work with your SkyTrak Launch Monitor.",
  },
  {
    title: "Skytrak Golf Simulator Hitting Mat",
    image: IncludedHittingMat,
    description:
      "The SkyTrak Golf Simulator Hitting Mat is the perfect addition to your SkyTrak setup. The hitting mat is designed to work with your SkyTrak Launch Monitor and protect your floor from any mishits.",
  },
  {
    title: "Skytrak Golf Simulator HDMI Cable",
    image: IncludedCable,
    description:
      "The SkyTrak Golf Simulator HDMI Cable is the perfect addition to your SkyTrak setup. The HDMI cable is designed to work with your SkyTrak Launch Monitor and connect to your projector.",
  },
  {
    title: "Skytrak Golf Simulator Mounting Bracket",
    image: IncludedBracket,
    description:
      "The SkyTrak Golf Simulator Mounting Bracket is the perfect addition to your SkyTrak setup. The mounting bracket is designed to work with your SkyTrak Launch Monitor and connect to your projector.",
  },
];

const benefits = [
  {
    title: "Enhanced Practice & Game Improvement",
    description:
      "Our golf simulators employ cutting-edge technology, complete with trusted launch monitors and accurate data tracking, ensuring your skills improve with every swing.",
    image: Practice,
  },
  {
    title: "Play the World’s Best Courses",
    description:
      "Experience a diverse range of courses and games. Our simulators offer a variety of virtual golfing experiences, bringing the world's best courses right to your doorstep.",
    image: Courses,
  },
  {
    title: "Professional Coaching At Home",
    description:
      "Elevate your game with advanced analytics and video analysis features. Ideal for personal coaching, our simulators also offer precise club fitting, ensuring your equipment is as ready as you are.",
    image: Coaching,
  },
  {
    title: "Golf in Any Weather",
    description:
      "With our simulators, enjoy the freedom to play and practice golf regardless of the weather outside, perfect for year-round enthusiasts seeking uninterrupted play.",
    image: Weather,
  },
  {
    title: "Tailored to Your Space",
    description:
      "We specialize in custom installations, adapting seamlessly to your home, office, or commercial space, designed to suit your personal style and spatial requirements.",
    image: Build,
  },
];

const uspGrid = [
  {
    name: "Advanced Technology",
    description:
      "Experience immersive gameplay with the high-definition simulation package included in the Practice Package. Play on virtual golf courses, enjoy multiplayer options, and challenge yourself with various game modes.",
    icon: "bolt",
  },
  {
    name: "Precision Tracking",
    description:
      "SkyTrak accurately records, displays and compares your ball flight data. The key parameters of measurement include ball speed, launch angle side spin, back spin side spin and many more.",
    icon: "clock",
  },
  {
    name: "Versatile Enclosure Options",
    description:
      "Four size options, suitable for various space requirements.",
    icon: "versatile",
  },
  {
    name: "Comprehensive Bundle",
    description:
      "Includes essential accessories like hitting mat, projector, and HDMI cable.",
    icon: "bundle",
  },
  {
    name: "Wide Range Of Courses",
    description:
      "Compatible with a variety of golf simulation software, offering access to 100's of courses.",
    icon: "flag",
  },
  {
    name: "Indoor and Outdoor Flexibility",
    description: "Designed for both indoor and outdoor training sessions.",
    icon: "sun",
  },
];

const uspGrid2 = [
  {
    name: "Finance from $13/week",
    description:
      "Flexible financing options starting at just $13/week using our partner, Platform Direct Finance.",
  },
  {
    name: "Free Delivery",
    description:
      "Enjoy our complimentary premium delivery service, designed to offer you a convenient shopping experience. ",
  },
  {
    name: "12 month warranty included*",
    description:
      "Every purchase includes a 12 month warranty on *some* items included in the SkyTrak Practise Package.",
  },
];

const usps = [
  "📦 Free Shipping",
  "🚚 Next Day Dispatch",
  "⚡ Buy Now, Pay Later",
  "📦 Free Shipping",
  "🚚 Next Day Dispatch",
  "⚡ Buy Now, Pay Later",
  "📦 Free Shipping",
  "🚚 Next Day Dispatch",
  "⚡ Buy Now, Pay Later",
  "📦 Free Shipping",
  "🚚 Next Day Dispatch",
  "⚡ Buy Now, Pay Later",
];

const faqs = [
  {
    id: 1,
    question: "What is included in the SkyTrak Practice Package?",
    answer:
      "The package includes a SkyTrak Launch Monitor, Game Improvement Package, Protective Metal Case, USB Cable, Charger, Quick Start Guide, and a 1-Year Warranty.",
  },
  {
    id: 2,
    question: "What is the lead time for the SkyTrak Practice Package?",
    answer:
      "Lead time is generally 5-10 business days, with all orders shipped from our warehouse in Melbourne, Australia.",
  },
  {
    id: 4,
    question: "Is financing available for the SkyTrak Practice Package?",
    answer:
      "Yes, we offer flexible financing options starting at just $13/week using our partner, Platform Direct Finance.",
  },
  {
    id: 6,
    question: "What technology does the SkyTrak Practice Package employ?",
    answer:
      "It features advanced photometric technology for accurate shot analysis and includes various virtual golfing experiences.",
  },
  {
    id: 7,
    question:
      "Can I use the SkyTrak Practice Package for professional coaching?",
    answer:
      "Yes, the simulator offers advanced analytics and video analysis features ideal for personal coaching and precise club fitting.",
  },
  {
    id: 8,
    question: "What are the size options for the SkyTrak Practice Package?",
    answer:
      "The package comes in three sizes: Par 3 (3m W x 2.6m H x 1.6m D), Par 4 (3.6m W x 2.6m H x 1.6m D), and Par 5 (4m W x 3m H x 3m D or 1.6m D for shallow option).",
  },
];
---

<Main>
  <ScrollingBanner messages={usps} />
  <Navbar client:load />
  <Product />
  <VideoSection />
  <SmallCarousel stars={true} title="Featured Reviews" slides={reviews} />
  <BenefitsCarousel benefits={benefits} />
  <UspGrid usps={uspGrid} title="The 24/7 Golf Difference" />
  <Comparison
    imageBefore={ShedBefore}
    imageAfter={ShedAfter}
    title="See What Our Customers Have Built"
  />
  <UspGrid
    usps={uspGrid2}
    bgColor="bg-neutral-200"
    textTitleColor="text-neutral-950"
    textBodyColor="text-neutral-500"
  />
  <SmallCarousel title="What's Included" slides={included} />
  <Cta />
  <Faqs faqs={faqs} />
</Main>
