---
import Container from "../components/container.astro";
import Image2 from "../assets/skytrak-practice-package/2.webp";
import Image3 from "../assets/skytrak-practice-package/3.webp";
import Image4 from "../assets/skytrak-practice-package/4.webp";
import Image5 from "../assets/skytrak-practice-package/5.webp";
import Image6 from "../assets/skytrak-practice-package/6.webp";
import MainView from "../assets/skytrak-practice-package/1.webp";
import ProductImages from "../components/products/product-images.astro";
import ProductsReviews from "../components/products/product-reviews.astro";
import ProductName from "../components/products/product-name.astro";
import ProductDescription from "../components/products/product-description.astro";
import ProductPrice from "../components/products/product-price.astro";
import ProductOptions from "../components/products/product-options.astro";
import ProductFaqs from "../components/products/product-faqs.astro";

const product = {
  name: "SkyTrak Practice Package",
  price: "$8,499",
  rating: 4.9,
  images: [
    {
      id: 1,
      name: "Main view",
      src: MainView,
      alt: "SkyTrak Practice Package",
    },
    {
      id: 2,
      name: "Empty Background",
      src: Image2,
      alt: "SkyTrak Practice Package 2",
    },
    {
      id: 3,
      name: "Whats Included",
      src: Image3,
      alt: "SkyTrak Practice Package 3",
    },
    {
      id: 4,
      name: "Green",
      src: Image4,
      alt: "SkyTrak Practice Package 4",
    },
    {
      id: 5,
      name: "Ipad and SkyTrak",
      src: Image5,
      alt: "SkyTrak Practice Package 5",
    },
    {
      id: 6,
      name: "Dimensions",
      src: Image6,
      alt: "SkyTrak Practice Package 6",
    },
    // More images...
  ],
  sizing: [
    {
      name: "Par 3",
      dimensions: "3m (W) x 2.6m (H) x 1.6m (D)",
      variantId: "42074544439467",
    },
    {
      name: "Par 4",
      dimensions: "3.6m (W) x 2.6m (H) x 1.6m (D)",
      variantId: "42574423916715",
    },
    {
      name: "Par 5",
      dimensions: "4m (W) x 3m (H) x 3m (D)",
      variantId: "42074544505003",
    },
    {
      name: "Par 5 - Shallow",
      dimensions: "4m (W) x 3m (H) x 1.6m (D)",
      variantId: "42809803702443",
    },
  ],
  description:
    "Elevate your golf game with the SkyTrak Practice Package, an all-in-one solution that combines advanced photometric technology with a portable design, allowing for accurate shot analysis and practice in any space. Experience realistic simulations on world-renowned courses and gain comprehensive data insights, all from the comfort of your home.",
  details: [
    {
      name: "What is included in my purchase?",
      answer: `
        <p>
        Every Purchase Includes: <br /> <ul> <li>SkyTrak Launch Monitor</li> <li>Game Improvement Package</li> <li>Protective Metal Case</li> <li>USB Cable</li> <li>Charger</li> <li>Quick Start Guide</li> <li>1 Year Warranty</li> </ul>
        </p>
        `,
    },
    {
      name: "What is lead time?",
      answer: `
      <p>
      Lead time is generally 2-3 weeks. All orders are shipped from our warehouse in Melbourne, Australia.
      </p>
      `,
    },
    {
      name: "What is in-home delivery?",
      answer: `
      <p>
      You will get a notification via SMS and email to set up a delivery time window that works for you.

For lower 48: The delivery crew will place it anywhere at the ground level of your location, take your SkyTrak Practice Package out of the box and remove all packing materials. They will not set it up, but it's super easy! Watch our install video on the Setup Page.

For international deliveries, the SkyTrak Practice Package will be delivered to your location with the box and pallet.
</p>
      `,
    },
    {
      name: "Do you have financing?",
      answer: `
      <p>
      We offer 12, 24, 36, or 48 mo. financing available through Bread Pay. Bread Paynow offers 0% APR financing for 12 months! View our financing page for more information here.
      </p>
      `,
    },
    {
      name: "Do you ship internationally?",
      answer: `
    <p>
    International shipping is currently limited to Australia, UAE, Puerto Rico, and US Territories.

IMPORTANT: International regions using 220V outlets require a step up step down converter.
    </p>
    `,
    },
    // More sections...
  ],
};
---

<Container>
  <div
    class="lg:grid lg:grid-cols-5 lg:items-start lg:gap-x-8 my-4 sm:my-8 lg:my-16 relative"
  >
    {/* Image gallery */}
    <ProductImages images={product.images} />

    <div class="py-4 sm:mt-16 sm:px-0 lg:mt-0 lg:col-span-2 z-0">
      {/* Product info */}
      <ProductName name={product.name} />
      <ProductsReviews rating={product.rating} />
      <ProductPrice price={product.price} />
      <ProductDescription description={product.description} />

      {/* Sizing */}
      <ProductOptions sizing={product.sizing} />

      {/* Details */}
      <ProductFaqs details={product.details} />
    </div>
  </div>
</Container>
